p This is the raw iosocket data sent to clients. Last 5 messages are displayed (last message is the first in the list)

div.iomessage
    ul
        li
            p {{ioLoanOfferParametersStrings[0]}}
        li
            p {{ioLoanOfferParametersStrings[1]}}
        li
            p {{ioLoanOfferParametersStrings[2]}}
        li
            p {{ioLoanOfferParametersStrings[3]}}
        li
            p {{ioLoanOfferParametersStrings[4]}}

