DEBUG=poloLender
HEROKU=false


POLOLENDER_APIKEY={"key":"V********************************t","secret":"T************************************u"}
MONGOLAB_URI=mongodb://heroku_app3*****81:eb4i**************674o0mt4@ds***160.mongolab.com:41160/heroku_app*****081

SENDGRID_USERNAME=app*****081@heroku.com
SENDGRID_PASSWORD=lt****ws

