doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/webix/webix.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/webix/webix.js')
    script(src='/socket.io/socket.io.js')
  body
    script(src='/javascripts/settings.js')
    script(src='/javascripts/about.js')
    script(src='/javascripts/content.js')
